@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

/** Root classes **/
.ui5-message-strip-root {
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: var(--sapPopover_BorderCornerRadius);
	padding: var(--_ui5_message_strip_padding);
	border-width: var(--_ui5_message_strip_border_width);
	border-style: solid;
	box-sizing: border-box;
	position: relative;
}

.ui5-message-strip-root-hide-icon {
	padding-inline: var(--_ui5_message_strip_padding_inline_no_icon);
	padding-block: var(--_ui5_message_strip_padding_block_no_icon);
}

.ui5-message-strip-root-hide-close-button {
	padding-inline-end: 1rem;
}

.ui5-message-strip-root--info {
	background-color: var(--sapInformationBackground);
	border-color: var(--sapMessage_InformationBorderColor);
	color: var(--sapTextColor);
}

.ui5-message-strip-root--info .ui5-message-strip-icon {
	color: var(--sapInformativeElementColor);
}

.ui5-message-strip-root--positive {
	background-color: var(--sapSuccessBackground);
	border-color: var(--sapMessage_SuccessBorderColor);
}

:host([color-scheme="Accent1"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_1_Background);
	color: var(--sapAvatar_1_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent1"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent1"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_1_TextColor);
}

:host([color-scheme="Accent2"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_2_Background);
	color: var(--sapAvatar_2_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent2"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent2"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_2_TextColor);
}

:host([color-scheme="Accent3"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_3_Background);
	color: var(--sapAvatar_3_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent3"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent3"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_3_TextColor);
}

:host([color-scheme="Accent4"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_4_Background);
	color: var(--sapAvatar_4_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent4"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent4"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_4_TextColor);
}

:host([color-scheme="Accent5"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_5_Background);
	color: var(--sapAvatar_5_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent5"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent5"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_5_TextColor);
}

:host(:not([color-scheme])) .ui5-message-strip-root--custom, :host([color-scheme="Accent6"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_6_Background);
	color: var(--sapAvatar_6_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host(:not([color-scheme])) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent6"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host(:not([color-scheme])) .ui5-message-strip-root--custom ::slotted([slot="icon"]),
:host([color-scheme="Accent6"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_6_TextColor);
}

:host([color-scheme="Accent7"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_7_Background);
	color: var(--sapAvatar_7_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent7"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent7"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_7_TextColor);
}

:host([color-scheme="Accent8"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_8_Background);
	color: var(--sapAvatar_8_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent8"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent8"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_8_TextColor);
}

:host([color-scheme="Accent9"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_9_Background);
	color: var(--sapAvatar_9_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent9"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent9"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_9_TextColor);
}

:host([color-scheme="Accent10"]) .ui5-message-strip-root--custom {
	background-color: var(--sapAvatar_10_Background);
	color: var(--sapAvatar_10_BorderColor);
	/* border-color: var(--ui5-avatar-accent1-border-color); */
}

:host([color-scheme="Accent10"]) .ui5-message-strip-root--custom .ui5-message-strip-close-button,
:host([color-scheme="Accent10"]) ::slotted([slot="icon"]) {
	color: var(--sapAvatar_10_TextColor);
}

.ui5-message-strip-root--positive .ui5-message-strip-icon {
	color: var(--sapPositiveElementColor);
}

.ui5-message-strip-root--negative {
	background-color: var(--sapErrorBackground);
	border-color: var(--sapMessage_ErrorBorderColor);
}

.ui5-message-strip-root--negative .ui5-message-strip-icon {
	color: var(--sapNegativeElementColor);
}

.ui5-message-strip-root--warning {
	background-color: var(--sapWarningBackground);
	border-color: var(--sapMessage_WarningBorderColor);
}

.ui5-message-strip-root--warning .ui5-message-strip-icon {
	color: var(--sapCriticalElementColor);
}

/** Icon wrapper **/
.ui5-message-strip-icon-wrapper {
	position: absolute;
	top: var(--_ui5_message_strip_icon_top);
	inset-inline-start: 0.75rem;
	box-sizing: border-box;
}

/** Text **/
.ui5-message-strip-text {
	width: 100%;
	color: var(--sapTextColor);
	line-height: 1.2;
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
}

/** Close button - always in compact mode **/
.ui5-message-strip-close-button {
	width: 2rem;
	min-width: 2rem;
	height: 1.65rem;
	min-height: 1.65rem;
	position: absolute;
	top: var(--_ui5_message_strip_close_button_top);
	inset-inline-end: var(--_ui5_message_strip_close_button_right);
}